* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Plus Jakarta Sans", serif;
    --learnly-green-color: #1A9C73;
}

.learnly-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header {
    background: #F7FDFB;
    width: 100%;
    height: 56.56rem;
}

.learnly-button-transparent {
    cursor: pointer;
    color: var(--learnly-green-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    border: none;
    background: none;
}

.learnly-button-background-green {
    cursor: pointer;
    background: var(--learnly-green-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    color: #ffffff;
}

.learnly-button-background-vivid-orange {
    cursor: pointer;
    background: #FF6D33;
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    border-radius: 8px;
    border: none;
    padding: 12px 24px;
    color: #ffffff;
}

.learnly-flex-buttons {
    display: flex;
    gap: 24px;
}

.learnly-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    &--routes {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: #000000;
            opacity: 60%;

            &:hover {
                color: #000000;
                opacity: 100%;
            }
        }

        .active {
            color: #000000;
            opacity: 100%;
        }
    }
}

.devider {
    width: 1px;
    height: 79px;
    background: rgba(44, 44, 44, 0.20);
    margin: 0 60px;
}

.learnly-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 99px;

    &--left {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 24px;

        .learnly-flex-buttons {
            margin-top: 40px;
            margin-bottom: 60px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1 {
                color: #2C2C2C;
                font-size: 3.75rem;
                font-weight: 700;
                margin: 0;
            }

            p {
                color: #595959;
                font-size: 1.12rem;
                font-weight: 400;
                line-height: 1.75rem;
                margin: 0;
            }
        }

        &__stats {
            display: flex;
            flex-direction: row;
            align-items: center;

            h1 {
                display: flex;
                flex-direction: column;
                gap: 9px;
                color: #2C2C2C;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 3.25rem;
                margin: 0;

                span {
                    color: #808080;
                    font-size: 0.87rem;
                    font-weight: 400;
                }
            }
        }
    }
}

.learnly-courses {
    padding: 80px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 2rem;

    .learnly-course-card {
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        flex: 1 0 0;
        border-radius: 1rem;
        border: 1px solid rgba(44, 44, 44, 0.10);
        background: #FFF;
        box-shadow: 0px 8px 24px 0px rgba(220, 220, 220, 0.24);

        h3,
        p {
            margin: 0;
        }
    }
}

.learnly-educational-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
    padding: 160px 0;
    width: 100%;

    &--left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 60px;

        h1 {
            color: #2C2C2C;
            font-size: 3rem;
            font-weight: 700;
            line-height: 62px;
            margin: 0;
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;

            &__card {
                h3 {
                    margin: 16px 0 8px 0;
                    color: #07271D;
                    font-size: 1.25rem;
                    font-weight: 700;
                    line-height: 30px
                }

                p {
                    color: #595959;
                    font-size: 0.87rem;
                    font-weight: 400;
                    line-height: 22px
                }
            }
        }
    }
}

.learnly-course-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        border-radius: 12px;
        background: #ffffff;

        &__image {
            width: 380px;
            height: 255px;
            border-radius: 12px 12px 0 0;
        }
    }

    &__elements {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        h4 {
            color: #2C2C2C;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 30px;
            margin: 0;
        }

        &__ratings {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 8px;

            p {
                overflow: hidden;
                color: #2C2C2C;
                margin: 0;
                font-size: 1rem;
                font-weight: 500;
                line-height: 24px;
            }

            &__star {
                display: flex;
                align-items: center;
                flex-direction: row;

                .leanly-star {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__user-name {
            display: flex;
            gap: 8px;
            padding-bottom: 16px;
            border-bottom: 1px solid #DEDEDE;
        }

        &__price-action {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__price {
                display: flex;
                gap: 4px;

                p:nth-child(1) {
                    color: #2C2C2C;
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 700;
                }

                p:nth-child(2) {
                    color: #949494;
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.learnly-slider-arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid var(--learnly-green-color);
    border-radius: 100px;
}

.learnly-slider-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: var(--learnly-green-color);
    border: 2px solid #ffffff;
    border-radius: 100px;
}

.learnly-popular-courses {
    padding: 156px 0;
    background: #0C4634;
    width: 100%;

    .learnly-container {
        gap: 60px;

        .learnly-popular-courses-heading {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 16px;

            h1 {
                color: #FFF;
                margin: 0;
                font-size: 3rem;
                font-weight: 700;
                line-height: 62px;
            }

            p {
                color: #FFF;
                text-align: center;
                margin: auto;
                font-size: 1rem;
                font-weight: 400;
                line-height: 24px;
            }
        }

        .learnly-course-cards {
            position: relative;

            .learnly-slider-arrow-left {
                position: absolute;
                left: -2%;
            }

            .learnly-slider-arrow-right {
                position: absolute;
                right: -2%;
            }
        }
    }
}

.learnly-testimonial {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 97px;
    padding: 160px 0;

    &--left {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 40px;

        &__section-1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 24px;

            &__top {
                display: flex;
                align-items: center;
                gap: 24px;
                background: #F7FDFB;
                padding: 10px;
                align-self: stretch;
                justify-content: space-evenly;
                height: 120px;


                &__images {
                    position: relative;
                    display: flex;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid #ffffff;

                        &:nth-child(2) {
                            position: absolute;
                            left: 30px;
                            z-index: 1;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            left: 15px;
                            top: 20px;
                            z-index: 2;
                        }
                    }
                }

                &__texts {
                    h1 {
                        font-size: 2rem;
                        color: #222222;
                        margin: 0;
                    }

                    p {
                        font-size: 1rem;
                        color: #666666;
                        margin: 0;
                    }
                }
            }
        }

        &__section-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            &__bottom {
                background: #EBF3FF;
                display: flex;
                height: 120px;
                padding: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;

                h1 {
                    color: #2C2C2C;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 2.62rem;
                    margin: 0;
                }

                p {
                    color: #666666;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 24px;
                    margin: 0;
                }
            }
        }
    }

    &--right {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: #2C2C2C;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 50px;
            margin: 0 0 110px 0;
            padding-bottom: 24px;
            border-bottom: 1px solid rgba(20, 26, 36, 0.20);
            align-self: stretch;
        }

        p {
            align-self: stretch;
            color: #2C2C2C;
            margin: 0 0 40px 0;
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 180px;

            &__profile,
            &__buttons {
                white-space: nowrap;
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}

.learnly-improve-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: #FFF4F0;
    flex-shrink: 0;
    padding: 72px;

    h1 {
        color: #2C2C2C;
        margin: 0;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 52px;
        width: 624px;
      
        span {
          color: #FF6D33;
        }
      }      

    &--buttons {
        display: flex;
        gap: 16px;
    }
}

.learnly-accordian {
    width: 100%;
    padding: 160px 0;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

    h1 {
        color: #2C2C2C;
        text-align: center;
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        line-height: 62px
    }

    &--qst {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;

        &__card {
            width: 100%;
            display: flex;
            padding: 24px;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 4px;
            border: 1px solid rgba(44, 44, 44, 0.20);
            box-shadow: 0px 0.5px 2px 0px rgba(16, 24, 40, 0.15);
            cursor: pointer;

            h5 {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}









// footer code will be last
.learnly-footer {
    width: 100%;
    background: #0C4634;
    padding: 30px 0;

    .learnly-container {
        .learnly-footer-subscribe {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 0;
            align-self: stretch;

            h1 {
                color: #FFF;
                margin: 0;
                width: 540px;
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 52px;
            }

            &--actions {
                display: flex;
                align-items: center;
                gap: 16px;

                input {
                    width: 356px;
                    padding: 18px;
                    border-radius: 8px;
                    border: 2px solid #ffffff;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: #ffffff;
                        margin: 0;
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
            }
        }

        .learnly-divider-footer {
            border-bottom: 1px solid #ffffff;
            width: 100%;
            margin: 24px 0;
        }

        .learnly-footer-content {
            width: 100%;
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: auto;

            &--left {
                width: 20%;
                display: flex;
                flex-direction: column;
                color: white;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 16px;

                &__socials {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }

            &--right {
                display: flex;
                width: 377px;
                align-items: flex-start;
                justify-content: space-between;

                &__website,
                &__company {
                    h3 {
                        color: #ffffff;
                        margin-bottom: 24px;
                        font-size: 20px;
                    }

                    p {
                        font-family: 16px;
                        margin-bottom: 16px;
                        color: #ffffff;
                    }
                }

            }
        }

        .learnly-footer-copyright {
            font-size: 12px;
            color: #ffffff;
        }
    }
}